@import url(style.css);

:root {
  --white: rgb(253, 250, 246);
  --black: rgb(41, 39, 39);
  --hover: rgb(58, 57, 57);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--white);
  font-family: sans-serif;
}

.article{
  padding: 30px;
  border: 1px solid rgb(159, 168, 167);
  border-radius: 5px;
  background-color: transparent;
  height: fit-content;
  cursor: pointer;
  img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }
  h2 {
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    color: var(--black);
    :hover {
      text-decoration: underline;
      color: var(--hover)
    }
  }
}

.read-more {
  margin-top: 20px;
  width: 100%;
  text-align: right;
  a {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    background-color: var(--hover);
  }
}

.blog-container {
  padding: min(50px, 7%);
  min-height: 75vh;
}

.articles-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 20px;
  justify-content: center;
}