@media (max-width: 768px) {
    header {
        margin: auto;
        width: 100%;
        box-shadow: 0px 1px 5px rgb(196, 196, 190);
    }
    main {
        width: 87%;
        margin: auto;
    }
    footer {
        width: 100%;
        border-radius: 0;
        padding: 0.5rem 0 1rem 0;
        p {
            width: 87%;
            margin: auto;
        }
    }
    nav {
        width: 87%;
        padding: 1em 0;
    }
}
/*
@media (max-width: 768px hover: none) {
  a:hover { color: inherit; }
} */

@media (min-width: 768px) {
    .dropdown-center {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        font-size: 17px;
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--secondary-bg-color);
    }
    nav {
        border-radius: 0;
    }
    #navLinks {
        display: none;
    }

    .profile {
        flex-direction: column;
        div {
            text-align: center;
            font-size: 28px;
            gap: 25px;
        }
        span {
            justify-content: center;
            gap: 10px;
        }
    }
    .profile-picture {
        width: 200px;
    }
    .social-link-wp {
        img {
            width: 2rem;
        }
    }

    footer {
        text-align: left;
    }
}

@media (max-width: 412px) {
    .wp-projects-showcase span {
        flex-direction: column;
        gap: 0.2em;
    }
}

@media (hover: hover) {
    .download:hover:after {
        color: var(--accent-color);
    }

    .dropdown-center {
        button:hover {
            background-color: var(--hover-color);
            color: var(--accent-color);
            border: 1px solid var(--hover-color);
        }
    }
    .dropdown-menu {
        a:hover {
            color: var(--accent-color);
            background-color: var(--hover-color);
        }
    }

    header {
        a:hover {
            background-color: var(--hover-color);
            color: var(--accent-color);
        }
    }

    /* --- */
    .hover-img-content:hover {
        opacity: 0.7;
    }
    .about {
        a:hover {
            background-color: var(--hover-color);
            color: var(--accent-color);
            text-decoration: none;
        }
    }
    .icon:hover {
        filter: brightness(0) saturate(100%) invert(98%) sepia(3%)
            saturate(2615%) hue-rotate(296deg) brightness(103%) contrast(72%);
    }

    .wp-projects-showcase {
        a:hover {
            background-color: var(--hover-color);
            color: var(--accent-color);
            text-decoration: none;
        }
    }

    footer {
        a:hover {
            background-color: var(--hover-color);
            color: var(--accent-color);
            text-decoration: none;
        }
    }

    .library-wp {
        a:hover {
            background-color: var(--hover-color);
            color: var(--accent-color);
            text-decoration: none;
        }
    }
}
