/* GENERAL */

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

:root {
  --bg-color: rgb(253, 250, 246);
  --fg-color: rgb(34, 34, 34);
  --hover-color: rgb(53, 53, 245);
  --accent-color: rgb(78, 214, 169);
  --footer-bg-color: rgb(206, 241, 234);
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectEnable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

::selection {
  background: var(--hover-color);
  color: var(--accent-color);
  text-shadow: none;
}

::-moz-selection {
  background: var(--hover-color);
  color: var(--accent-color);
  text-shadow: none;
}

.quote::before {
  content: url(../assets/quote.svg);
  margin-right: 0.1rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(15%) saturate(7462%) hue-rotate(43deg) brightness(123%) contrast(73%);
}

.download::after {
  content: url(../assets/download.svg);
  margin-left: 0.1rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(15%) saturate(7462%) hue-rotate(43deg) brightness(123%) contrast(73%);
}
.download:hover:after {
  filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(1640%) hue-rotate(101deg) brightness(92%) contrast(82%);
}

a{
  color: var(--fg-color);
}

p{
  color: var(--fg-color);
  cursor: default;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

main {
  margin: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10vh;
  padding: 10vh 0;
}

/* --- */

header{
  margin: auto;
  width: 40vw;
  padding: 2vh 0px 5px;
  border-bottom: 1px solid var(--fg-color);
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:hover{
    background-color: var(--hover-color);
    color: var(--accent-color);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    a {
      text-decoration: none;
    }
  }
  span{
    display: flex;
    gap: 5px;
  }
}

.social-link {
  width: 24px;
  filter: brightness(0) saturate(100%) invert(7%) sepia(22%) saturate(25%) hue-rotate(322deg) brightness(99%) contrast(87%);
}

.profile-picture {
  border-radius: 50%;
  width: 175px;
}

.about {
  p {
    border-left: 2px solid var(--fg-color);
    letter-spacing: 1px;
    line-height: 22px;
    padding: 5px 5px 5px 10px;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
  }
  :first-child {
    font-weight: bold;
  }
}

.wp-blog-preview {
  width: 100%;
  h2 {
    color: var(--fg-color);
    font-size: 18px;
  }
  span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    a:hover {
      background-color: var(--hover-color);
      color: var(--accent-color);
      text-decoration: none;
    }
  }
}

.article-wp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  :last-child {
    border-bottom: none;
    padding: 0;
  }
  h1 {
    margin-bottom: 1rem;
    width: fit-content;
  }
  a {
    text-decoration: none;
    :hover {
      background-color: var(--hover-color);
      color: var(--accent-color);
    }
  }
  article {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--fg-color);
    span {
      margin-top: 0.5rem;
      margin-bottom: 0;
      a {
        margin-left: auto;
      }
    }
  }
}

footer {
  background-color: var(--footer-bg-color);
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  width: 40vw;
  padding: 0.5rem 0.3rem 1rem 0.3rem;
  text-align: center;
  a:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
  }
}

.library-wp {
  width: 100%;
  h1 {
    margin-bottom: 1rem;
    color: var(--fg-color);
  }
  h2 {
    color: var(--fg-color);
  }
  ul {
    margin: 1rem 0 1rem 2rem;
    color: var(--fg-color);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
  }

  em {
    color: var(--fg-color);
  }
}
 
.nav-back-wp {
  padding-top: 10vh;
  text-align: center;
  a:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
  }
}

.nav-back-wp a {
  font-size: 22px;
  text-decoration: underline;
}