@media (max-width: 1124px) {
  header {
    margin: 0px;
    width: 90%;
  }
  .about {
    width: 90%;
    margin: 0px 0px 5vh;
  }
  section {
    align-items: center;
  }
  
}

@media (max-width: 600px) {
  header {
    width: fit-content;
  }
  nav {
    flex-direction: column;
    gap: 10px;
  }
  .profile {
    flex-direction: column;
    div {
      text-align: center;
      font-size: 28px;
      gap: 25px;
    }
    span{
      justify-content: center;
      gap: 10px;
    }
  }
  .profile-picture {
    width: 200px; 
  }
  .social-link {
      width: 36px;
  }
}

@media (max-height: 600px) {
  section {
    height: 150vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(22, 22, 22);
    --fg-color: rgb(235, 231, 226);
    --hover-color: rgb(11, 228, 192);
    --accent-color: rgb(255, 255, 255);
    --fg-bg-color: rgb(44, 33, 33);
  }
  
  ::selection {
    background: var(--hover-color);
    color: var(--accent-color);
    text-shadow: none;
  }
  
  ::-moz-selection {
    background: var(--hover-color);
    color: var(--accent-color);
    text-shadow: none;
  }

  .social-link{
    filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(1043%) hue-rotate(34deg) brightness(106%) contrast(84%);
  }

  .quote::before {
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(5122%) hue-rotate(301deg) brightness(108%) contrast(87%);
  }
}