/* GENERAL */

* {
  margin: 0;
  padding: 0;
  font-family: serif;
}

:root {
  --bg-color: rgb(253, 250, 246);
  --fg-color: rgb(34, 34, 34);
  --hover-color: rgb(53, 53, 245);
  --accent-color: rgb(78, 214, 169);
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectEnable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

::selection {
  background: var(--hover-color);
  color: var(--accent-color);
  text-shadow: none;
}

::-moz-selection {
  background: var(--hover-color);
  color: var(--accent-color);
  text-shadow: none;
}

.quote::before {
  content: url(assets/quote.svg);
  margin-right: 5px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(15%) saturate(7462%) hue-rotate(43deg) brightness(123%) contrast(73%);
}

a{
  color: var(--fg-color);
}

p{
  color: var(--fg-color);
  cursor: default;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--bg-color);
  gap: 100px;
}

/* --- */

header{
  padding: 2vh 0px 5px;
  margin: 0px 30vw;
  border-bottom: 1px solid var(--fg-color);
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:hover{
    background-color: var(--hover-color);
    color: var(--accent-color);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    a {
      text-decoration: none;
    }
  }
  span{
    display: flex;
    gap: 5px;
  }
}

.social-link {
  width: 24px;
  filter: brightness(0) saturate(100%) invert(7%) sepia(22%) saturate(25%) hue-rotate(322deg) brightness(99%) contrast(87%);
}

.profile-picture {
  border-radius: 50%;
  width: 175px;
}

.about {
  margin: 0px 30vw;
  border-radius: 0px 5px 5px 0px;
  p {
    border-left: 2px solid var(--fg-color);
    letter-spacing: 1px;
    line-height: 20px;
    padding: 5px 5px 5px 10px;
  }
  button {
    background: none;
    color: var(--fg-color);
    border: none;
    letter-spacing: 1px;
    line-height: 20px;
    text-decoration: underline;
    font-size: 16px;
  }
  button:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
  }
  :first-child {
    font-weight: bold;
  }
}